@font-face {
	font-family: 'FFG-SW-Symbol';
	src:url('fonts/FFG-SW-Symbol.eot?7yx074');
	src:url('fonts/FFG-SW-Symbol.eot?#iefix7yx074') format('embedded-opentype'),
		url('fonts/FFG-SW-Symbol.woff?7yx074') format('woff'),
		url('fonts/FFG-SW-Symbol.ttf?7yx074') format('truetype'),
		url('fonts/FFG-SW-Symbol.svg?7yx074#FFG-SW-Symbol') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'FFG-SW-Symbol';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-d6:before {
	content: "\36";
}
.icon-d10:before {
	content: "\30";
}
.icon-d12:before {
	content: "\32";
}
.icon-success:before {
	content: "\2a";
}
.icon-advantage:before {
	content: "\40";
}
.icon-triumph:before {
	content: "\21";
}
.icon-failure:before {
	content: "\5e";
}
.icon-threat:before {
	content: "\23";
}
.icon-despair:before {
	content: "\26";
}
.icon-neutralpoint:before {
	content: "\3d";
}
.icon-lightpoint:before {
	content: "\2b";
}
.icon-darkpoint:before {
	content: "\2d";
}
